$main-header-height : 70px;
$list-item-height : 60px;
$max-width : 768px;

$base-margin : 15px;
$base-padding : $base-margin;

$base-color : white;
$spacer-color : #e4dede;

$p-color : #766a62;
$a-color : #7fa9e1;
$a-hover-color : #a8c5eb;
$hr-color : #6a6a6a;
$input-color : $spacer-color;
$input-active-color : #f4f0f0;
$button-color : $a-color;
$button-hover-color : $a-hover-color;
$link-hover-color : $input-active-color;

$h1-size : 2.0em;
$p-size : 1em;