@font-face {
    font-family: 'rotissemisanscnbold';
    src: url('../fonts/rotissemsanbolcn-webfont.eot');
    src: url('../fonts/rotissemsanbolcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rotissemsanbolcn-webfont.woff2') format('woff2'),
         url('../fonts/rotissemsanbolcn-webfont.woff') format('woff'),
         url('../fonts/rotissemsanbolcn-webfont.ttf') format('truetype'),
         url('../fonts/rotissemsanbolcn-webfont.svg#rotissemisanscnbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rotissemisanscnregular';
    src: url('../fonts/rotissemsancn-webfont.eot');
    src: url('../fonts/rotissemsancn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rotissemsancn-webfont.woff2') format('woff2'),
         url('../fonts/rotissemsancn-webfont.woff') format('woff'),
         url('../fonts/rotissemsancn-webfont.ttf') format('truetype'),
         url('../fonts/rotissemsancn-webfont.svg#rotissemisanscnregular') format('svg');
    font-weight: normal;
    font-style: normal;

}