@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin bp-small {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin bp-large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}