html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'rotissemisanscnbold';
  src: url("../fonts/rotissemsanbolcn-webfont.eot");
  src: url("../fonts/rotissemsanbolcn-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rotissemsanbolcn-webfont.woff2") format("woff2"), url("../fonts/rotissemsanbolcn-webfont.woff") format("woff"), url("../fonts/rotissemsanbolcn-webfont.ttf") format("truetype"), url("../fonts/rotissemsanbolcn-webfont.svg#rotissemisanscnbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'rotissemisanscnregular';
  src: url("../fonts/rotissemsancn-webfont.eot");
  src: url("../fonts/rotissemsancn-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rotissemsancn-webfont.woff2") format("woff2"), url("../fonts/rotissemsancn-webfont.woff") format("woff"), url("../fonts/rotissemsancn-webfont.ttf") format("truetype"), url("../fonts/rotissemsancn-webfont.svg#rotissemisanscnregular") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  transition: all 0.30s ease-in-out; }

html, body, input, button {
  background: #e4dede;
  color: #766a62;
  font-family: 'rotissemisanscnregular', sans-serif;
  font-size: 1em;
  line-height: 1.500em; }

h1 {
  font-size: 2em;
  display: block;
  padding: 22.5px;
  margin: 0 15px;
  text-align: center;
  border-bottom: 1px solid #6a6a6a; }

h2 {
  display: block;
  font-size: 1.250em;
  padding: 15px 15px 5px 15px; }

p {
  display: block;
  padding: 0 15px 22.5px 15px; }

a {
  color: #7fa9e1; }

form {
  padding: 15px; }

label {
  display: block;
  font-size: 16px !important;
  padding-bottom: 5px; }

input, button, textarea {
  -appearance: none;
  background: #e4dede;
  border-radius: 0px !important;
  border: 0;
  outline: none;
  margin: 0;
  padding: 15px;
  width: 100%; }

input:focus {
  background: #f4f0f0; }

button {
  background: #7fa9e1;
  color: white;
  cursor: pointer;
  font-size: 2em;
  margin-top: 22.5px;
  padding: 10px; }

button:hover {
  background: #a8c5eb; }

img {
  width: 100%;
  height: auto; }
  img.inline {
    padding: 0 15px; }

.container {
  background: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  position: relative; }

#main-header {
  background: white;
  position: fixed;
  width: 100%;
  max-width: 768px;
  top: 0;
  z-index: 10;
  height: 70px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); }

#logo {
  float: left;
  margin: 15px;
  width: 200px; }

#info {
  float: right !important; }

#spacer {
  background: #e4dede;
  height: 90px; }

.form-group {
  padding-bottom: 10px; }

.forgot-password {
  margin-top: 15px;
  text-align: center; }

.icon {
  padding: 15px;
  position: absolute;
  right: 0;
  width: 70px;
  height: 70px; }

.fat {
  font-family: 'rotissemisanscnbold', sans-serif;
  font-size: 20px; }

.list-item {
  border-top: #6a6a6a 1px solid;
  cursor: pointer;
  height: 70px; }
  .list-item:hover {
    background: #f4f0f0; }
  .list-item .icon {
    left: 0; }
  .list-item .content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url("../img/icon-arrow.svg") no-repeat;
    background-position: right;
    background-size: 40px 40px; }
  .list-item a {
    color: #766a62;
    display: block;
    padding: 0 50px 0 15px;
    text-decoration: none;
    width: 100%; }
  .list-item p {
    margin: 0 0 0 15px;
    padding: 0; }
  .list-item .indented {
    padding-right: 50px;
    padding-left: 60px; }
  .list-item:last-child {
    border-bottom: #6a6a6a 1px solid; }
